 Style {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @font-face {
     font-family: hyper;
     src: url(../font/HyperBlob-Outline.ttf)
 }

 body {
     font-family: urban;
     color: #333;
     line-height: 2.5;
 }

 /* En-tête */
 .header {
     margin: 0;
     display: flex;
     align-items: center;
     background-color: darkcyan;
 }

 /* logo*/
 .logo {
     position: relative;
     align-items: center;
     display: flex;
     justify-content: space-between;
     max-width: 25%;



 }

 @media screen {
     .logo {
         max-height: 30%;
     }

 }

 .logo1 {
     padding: 10px;
     text-align: left;
     width: auto;
     height: 80px;
     background-color: darkcyan;


 }

 /* boutton des categories*/
 nav ul {
     list-style: none;
     display: flex;
     gap: 15px;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
     padding: 5;
 }

 nav ul li {
     border: 1px solid #ccc;
     padding: 5px 10px;
     border-radius: 5px;
 }

 nav ul li a {
     text-decoration: none;
     color: #333;
 }


 main {

     text-align: center;

 }

 /* nom du site */
 .title-section h1 {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: darkcyan;
     font-family: hyper;
     margin: 0;
 }

 .photo-section {
     display: flex;
     justify-content: center;
     align-items: center;
     transform: matrix3d(2);

 }


 .photo img {
     display: flex;
     border-radius: 50px;
     width: 100%;
     height: auto;

 }

 .photo2 img {
     border-radius: 50px;
 }

 .content {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     margin-top: 10px;
     background-color: darkcyan;
     ;
 }

 /*page 2*/



 .header2 {
     margin: 0;
     display: flex;
     align-items: center;
     background-color: darkcyan;
 }

 /*logo*/
 .logo2 {
     display: flex;
     width: 25%;
 }

 .title1 {
     margin: 0;
     background-color: darkcyan;
 }

 /* artiste titre */
 .title2 {
     background-color: darkcyan;
 }

 .main {
     margin: 0;
     display: flex;
     align-items: center;

 }

 /*GIf */
 section.Gif {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     height: 20%;

 }

 .flotte {
     display: block;
     float: left;
     width: 50%;
 }


 /*3 eme page */
 body {
     background-color: darkcyan
 }

 .header3 {
     margin: 0;
     display: flex;
     align-items: center;
     background-color: darkcyan;
 }

 .title4 {
     display: flex;
     align-items: center;
 }

 .photomode {
     display: flex;
     flex-direction: column;
     align-items: normal;
     text-align: center;

 }

 .photomode img {
     margin: 20%;
     flex-direction: column;
     width: 80%;
 }


 .section.images3 {
     display: flex;
     align-items: center;
     width: 50%;
 }

 /*pages 3 */
 h4 {
     display: flex;
     align-items: center;
 }

 section.image4 {
     display: flex;
     align-items: center;
 }

 section.image4 {
     display: flex;
     align-items: center;
     margin: 10px;
     padding: 20px;
     font-size: 30px;
 }

.footer{
    background-color: rgb(47, 200, 231);
}
